.app {
  background-color: green;
  height: 50px;
}

.search {
  margin-left: 1%;
  margin-right: 1%;
}

.search-map {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 600px;
}

.report-map {
  height: 200px;
  width: 200px;
}

.report-photo {
  height: 200px;
  width: 200px;
}

.btn-secondary {
    color: #000;
    background-color: #eee;
    border-color: #4cae4c;
}

.homemain {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.form-group {
  width: 100%;
}
