.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

.homemain {
  margin-left: 30%;
  margin-right: 30%;
  height: 600px;
}

.map-gic {
  height: 300px;
  width: 100%;
}